.estilo1 {
    color: mediumvioletred;
    font-family: 'Metal Mania';
    text-align: center;
}

.estilo2 {
    color: #BD3434;
}

.estilo3 {
    font-size: 18px;
}

.estilo4 {
    font-size: 16px;
}